@import url('https://fonts.googleapis.com/css2?family=Inter&family=Mulish:wght@200..1000&display=swap');

.font-inter{
    font-family: "Inter", sans-serif;
}
body{
    font-family: "Mulish", sans-serif;
}
.t-primary{
    color: #12132D;
}
.b-primary{
    background-color: #12132D;
}